@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  line-height: calc(1.4 * 1em);
  color: rgb(243, 245, 247);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}
